<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening | Home</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <!-- encabezado -->
  <header class="header">
    <img class="header__logo" src="/images/logo.jpg" alt="">
    <button class="header__hamburger">
        <i class="fas fa-bars"></i>
    </button>
    <nav class="header__nav">
        <ul class="header__nav--menu">
            <li><a href="/">home</a></li>
            <li><a href="/quienes">quienes</a></li>
            <li><a href="/servicios">servicios</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="/sucursales">sucursales</a></li>
            <li><a href="/contacto">contacto</a></li>
        </ul>
    </nav>
  </header>
  <!-- principal -->
  <main class="home__main">
    <!-- banner -->
    <section class="home__main__section--banner">
        <img src="/images/img-banner.jpg" alt="">
    </section>
    <!-- productos -->
    <section class="home__main__section--productos">
        <!-- producto -->
        <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
         <!-- producto -->
         <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-1.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-nuevo.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-2.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-gratis.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
          <!-- producto -->
          <article class="home__main__section__article">
            <div class="home__main__section__article--imagen">
                <img class="home__main__section__article--imagen-product" src="/images/img-pdto-3.jpg" alt="">
                <img class="home__main__section__article--imagen-sticker" src="/images/img-descuento.png" alt="">
                <a class="home__main__section__article--imagen-zoom" href="">ampliar foto</a>
            </div>
            <div class="home__main__section__article--contenido">
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo vero rerum iure dolorum optio delectus aut obcaecati culpa magni laudantium!</p>
                <a href="">ver más</a>
            </div>
        </article>
    </section>
  </main>
  <!-- pie de pagina -->
  <footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__nav--menu">
            <li><a href="/">home</a></li>
            <li><a href="/quienes">quienes</a></li>
            <li><a href="/servicios">servicios</a></li>
            <li><a href="/portfolio">portfolio</a></li>
            <li><a href="/sucursales">sucursales</a></li>
            <li><a href="/contacto">contacto</a></li>
        </ul>
    </nav>
  </footer>
</body>
</html>