/* mobile first */
.header{
    margin-bottom: 30px;
}
.header__logo{
    border-radius: 50%;
    border: 1px solid var(--colorGris);
    width: 180px;
    margin: 15px auto 30px;
    display: block;
}

.header__hamburger{
    border: none;
    background-color: var(--colorGris);
    margin: 0 auto 30px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: white;
}

.header__nav--menu li{
    width: 100%;
    background-color: var(--colorGris);
    text-transform: uppercase;
    margin-bottom: 1px;
    text-align: center;
    padding: 10px 0;
}

/* tablet (768px) */
@media (min-width: 426px) {
    .header__hamburger{
        display: none;
    }

    .header__nav--menu li{
        width: 15%;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 1.25%;
    }
    .header__nav--menu li:last-child{
        margin-right: 0;
    }

}

@media (min-width:1180px) {
    .header__nav--menu li{
        width: 180px;
        margin-bottom: 0px;
        margin-right: 10px;
    }
}