.home{

}

.home__main{
   
}

.home__main__section--banner{
    display: none;
}

.home__main__section--productos{

}

.home__main__section__article{

}

.home__main__section__article--imagen{
    position: relative;
}

.home__main__section__article--imagen-product{
    width: 100%;
}

.home__main__section__article--imagen-sticker{
    position: absolute;
    top: 0;
    right: 10px;
}

.home__main__section__article--imagen-zoom {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-transform: uppercase;
    padding: 10px 0;
}
.home__main__section__article--contenido h4{
    margin: 20px 0;
}

.home__main__section__article--contenido a{
    display: inline-block;
    margin: 20px 0;
    background-color: var(--colorGris);
    padding: 8px;
}

@media (min-width:426px) {

    .home__main__section--banner{
        display: block;
        margin-bottom: 30px;
    }
    .home__main__section--banner img{
        width: 100%;
    }

    .home__main__section__article{
        width: 48%;
        display: inline-block;
        margin-right: 3.2%;
    }

    .home__main__section__article:nth-child(even){
        margin-right: 0%;
    }
}

@media (min-width:1180px) {
    .home__main__section__article{
        width: 32%;
        display: inline-block;
        margin-right: 1.5%;
    }

    .home__main__section__article:nth-child(even){
        margin-right: 1.5%;
    }
    .home__main__section__article:nth-child(3n){
        margin-right: 0%;
    }
}